<div style="width:1178px;margin: 0 auto;border: #C2D2DF 1px dotted !important;padding: 10px;background:#FCFCFC;" id="mianze" rel="nofollow"></div>
<script language=javascript src='http://tool.100dh.cn/FootHandler.ashx?uname=$data.hInfo.username&realmId=' charset="utf-8"></script>
<div class="footer">
    <p>
        Copyright © 2015-
        <script type="text/javascript">var date = new Date; document.write(date.getFullYear());</script>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="http://hyzx.100dh.cn/sitemaps.xml">百度地图</a>
        &nbsp;&nbsp;
        <a target="_blank" href="http://hyzx.100dh.cn/sitemap.html">网站地图</a>
    </p>
</div>
<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') { bp.src = 'https://zz.bdstatic.com/linksubmit/push.js'; }
        else { bp.src = 'http://push.zhanzhang.baidu.com/push.js'; }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body>
</html>