<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>$data.htmlTitle</title>
    <meta name="keywords" content="$data.hostName">
    <meta name="description" content="$data.hostName">
    <meta name="applicable-device" content="pc,mobile" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <link rel="icon" href="http://www.cnhbw.net/qynews/favicon.ico" />
    <link href="http://www.cnhbw.net/qynews/statics/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://www.cnhbw.net/qynews/statics/public/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.cnhbw.net/qynews/statics/js/base64.min.js"></script>
    <script type="text/javascript">var Tool = { 'host': '$data.hostUrl', 'Catid': '$data.cId', 'logged': false }; function InfoHeadSearch() { }</script>
</head>
<body>
    <div class="banner">
        <div class="logo" id="logo"><img src="http://www.cnhbw.net/qynews/statics/images/logo.jpg" width="230" height="60"></div>
        <div class="search">
            <div id="page">
                <div id="container" class="content clearfix">
                    <div class="box-css clearfix">
                        <div class="searchbg"></div>
                        <div class="searchcontainer">
                            <div class="searchselect">
                                <span id="type" typeid="1">新闻</span><a class="searchselectbtn" id="searchSelected" href="javascript:;"></a>
                                <ul id="selectTypeList">
                                    <li typeid="1"><a class=current href="javascript:;">新闻</a></li>
                                    <li typeid="2"><a class=current href="javascript:;">产品</a></li>
                                    <li class="last"></li>
                                </ul>
                            </div>
                            <input id="q" class="ipt" type="text" name="q" autocomplete="off" onblur="if(this.value==''){this.value='请输入关键词';}else{};" onfocus="this.value='';" placeholder="请输入关键词" value="" onkeydown="if (event.keyCode == 13){InfoHeadSearch();}" />
                            <input class="button" type="submit" style="background:url(http://www.cnhbw.net/qynews/statics/images/search_but_1011.jpg) no-repeat; width:70px;height:35px;cursor:pointer;border:none;margin:0px;" value="" onclick="javascript:InfoHeadSearch();">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="xwrcs">
                <script type="text/javascript" src="http://www.cnhbw.net/qynews/statics/js/date.js" charset="utf-8"></script>
            </div>
        </div>
        <div class="member">
            <table width="80" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="72"><a target="_blank" href="http://www.cnhbw.net/qynews/login.html" rel="nofollow" id="login">会员登录</a></td>
                </tr>
            </table>
        </div>
        <div class="clear" id="site_title"></div>
    </div>
