<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>$data.htmlTitle</title>
    <meta name="keywords" content="$data.keyword" />
    <meta name="description" content="$data.description" />
    <meta name="applicable-device" content="pc,mobile" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <link rel="icon" href="http://hyzx.100dh.cn/statics/images/favicon.ico" />
    <link href="http://hyzx.100dh.cn/statics/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://hyzx.100dh.cn/statics/public/jquery.min.js"></script>
    <script type="text/javascript" src="http://hyzx.100dh.cn/statics/js/base64.min.js"></script>
    <script type="text/javascript">
        var Tool = { 'host': '$data.host', 'Catid': '$data.hInfo.columnId', 'Id': '$data.hInfo.Id', 'logged': false };
        function InfoHeadSearch() { }
    </script>
</head>
<body>
    <div class="banner">
        <div class="logo" id="logo"><img src="http://hyzx.100dh.cn/statics/images/logo.jpg" width="230" height="60"></div>
        <div class="member">
            <table width="80" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="72"><a target="_blank" href="http://vip.100dh.cn/login" rel="nofollow" id="login">会员登录</a></td>
                </tr>
            </table>
        </div>
        <div class="clear" id="site_title"></div>
    </div>
