#parse("head.html")
<style type="text/css">
    li {
        list-style: none;
    }

    .swnlist {
        height: auto;
        overflow: hidden;
        padding-top: 10px;
        border-bottom: 1px dotted #666;
    }

    .swnlist-t {
        font-size: 18px;
    }

        .swnlist-t span {
            float: right;
            text-align: right;
            color: #999;
            line-height: 25px;
            font-size: 14px;
        }

    .swnlist p {
        color: #666;
        line-height: 26px;
    }

    .swnlist:hover {
        background: #f0faff;
    }

    .shadow {
        width: 280px;
        background: #F0F0F0;
        padding-bottom: 10px;
    }
</style>
<div class="swdh">
    当前位置：<a href="TestHandler.ashx?action=mainpage">首页</a> >
    <a href="TestHandler.ashx?action=GetNews">行业新闻</a>
</div>
#parse("navigation.html")
<div class="swnr">
    <div class="swnr-l main">
        <div class="bdd1 mgb10">
            <div class="result-list-tl">
                <h4 class="fl">行业新闻</h4>
            </div>
        </div>
        #foreach($n in $data.newsList)
        <div class="swnlist">
            <div class="swnlist-t">
                <a href="$n.titleURL" target="_blank">$n.title</a>
                <span>$n.addTime</span>
            </div>
            <p>$n.articlecontent</p>
        </div>
        #end
        <div id="InnerPage">
            <div id="PagerBox">
                <div id="pages" class="text-c">
                    <a class="num">共$data.paraTotal条</a>
                    #if($data.pageIndex>1)
                    #set($upPage=$data.pageIndex+(-1))
                    <a href="TestHandler.ashx?action=GetNews&cId=$data.cId&pageIndex=$upPage" class="previous"><b><i>上一页</i></b></a>
                    #end

                    #foreach($page in $data.pageData)
                    #if($page.Title==$data.pageIndex)
                    <a href="javascript:void(0)" class="cur"><b><i>$page.Title</i></b></a>
                    #else
                    <a href="$page.Href"><b><i>$page.Title</i></b></a>
                    #end
                    #end
                    #if($data.pageIndex<$data.pageCount) #set($nextPage=$data.pageIndex+1)
                    <a href="TestHandler.ashx?action=GetNews&cId=$data.cId&pageIndex=$nextPage" class="nextpage"><b><i>下一页</i></b></a>
                    #end
                </div>
            </div>
        </div>
    </div>
    <div class="swnr-r">
        <div class="fixed">
            <div class="col-wrap">
                <h3>最新产品</h3>
                <ul class="iconBox">
                    #foreach($p in $data.productList)
                    <li><a href="$p.titleURL" title="$p.title" target="_blank">$p.title</a></li>
                    #end
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function (e) {
        t = $('.fixed').offset().top; mh = $('.main').height(); fh = $('.fixed').height();
        $(window).scroll(function (e) {
            s = $(document).scrollTop(); if (s > t - 10) {
                $('.fixed').css('position', 'fixed'); $('.fixed').addClass('shadow');
                if (s + fh > mh) { $('.fixed').css('top', mh - s - fh + 'px'); } else { $('.fixed').css('top', '0px'); }
            } else { $('.fixed').removeClass('shadow'); $('.fixed').css('position', ''); }
        })
    });
</script>
#parse("foot.html")