#parse("head.html")
#parse("navigation.html")
<link href="../statics/css/slide.css" rel="stylesheet" type="text/css" />
<script src="../statics/js/responsiveslides.min.js"></script>
<script src="../statics/js/slide.js"></script>
<style type="text/css">
    .slide_nav {
        display: none;
    }

    .swtuijian-r ul li {
        font-size: 14px;
    }
</style>
<div class="layout mgb10 clearfix">
    <div class="hotwords-tl">
        <h4>推荐新闻</h4>
    </div>
    <div class="swtuijian-e">
        <div class="swhuandeng" style="height:205px;margin-top: 3px;">
            <div class="slide_container">
                <ul class="rslides" id="slider">
                    #foreach($h in $data.lunboTitle)
                    <li>
                        <a href="$h.titleURL" target="_blank">
                            <img src="$h.titleImg" onerror="this.src = '../statics/images/nopic.gif'" />
                            <p class="caption">$h.title</p>
                        </a>
                    </li>
                    #end
                </ul>
            </div>
        </div>
        <div class="swtuijian-r" style="margin-top: 10px;">
            <ul>
                #foreach($h in $data.tuijianTitle)
                <li><a href="$h.titleURL" title="$h.title" target="_blank">·$h.title</a></li>
                #end
            </ul>
        </div>
    </div>
</div>
<div class="lists">
    <div class="list1">
        <div class="hotwords-tl">
            <h4>最新产品</h4>
        </div>
        <div class="list1-e">
            <ul>
                #foreach($h in $data.productTitle)
                <li><a href="$h.titleURL" title="$h.title" target="_blank">·$h.title</a></li>
                #end
            </ul>
            <div class="listmore"><a href="TestHandler.ashx?action=MoreProduct" target="_blank">更多产品</a></div>
        </div>
    </div>
    <div class="list2">
        <div class="hotwords-tl">
            <h4>最新新闻</h4>
        </div>
        <div class="list1-e">
            <ul>
                #foreach($h in $data.newsTitle)
                <li><a href="$h.titleURL" title="$h.title" target="_blank">·$h.title</a></li>
                #end
            </ul>
            <div class="listmore"><a href="TestHandler.ashx?action=MoreNews" target="_blank">更多新闻</a></div>
        </div>
    </div>
</div>
<script src="../statics/js/gundong.js"></script>
<div style="width:1178px;margin: 0 auto;border: #C2D2DF 1px dotted !important;padding: 10px;background:#FCFCFC;" id="mianze" rel="nofollow"></div>
<script language=javascript src='http://vip.hsoow.com/?a=foot&name=&from=cnhbw' charset="utf-8"></script> <div class="footer">
    <p>
        Copyright © 2015-
        <script type="text/javascript">var date = new Date; document.write(date.getFullYear());</script>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="../sitemaps.xml">百度地图</a>
        &nbsp;&nbsp;
        <a target="_blank" href="../sitemap.html">网站地图</a>
    </p>
</div>
<script>
    (function () {
        var bp = document.createElement('script'); var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') { bp.src = 'https://zz.bdstatic.com/linksubmit/push.js'; }
        else { bp.src = 'http://push.zhanzhang.baidu.com/push.js'; }
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(bp, s);
    })();</script>
</body>
</html> 