<div class="layout998 mgb10 clearfix bdd1 result-select" id="Condition">
    <dl class="clearfix last">
        <dt>相关类目：</dt>
        <dd>
            <ul id="ClassUL">
                <li style=""><a href="http://39.105.196.3:8173/TestHandler.ashx?action=list-20">行业新闻</a></li>
                <li style=""><a href="http://39.105.196.3:8173/TestHandler.ashx?action=list-1">机械模具</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-2.html">化工材料</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-3.html">通信产品</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-4.html">工具量具</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-5.html">五金电工</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-6.html">皮革纺织</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-7.html">印刷包装</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-8.html">汽车保养</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-9.html">矿山能源</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-10.html">建筑建材</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-11.html">农机配件</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-12.html">食品饮料</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-13.html">养殖种植</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-14.html">文教数码</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-15.html">办公日用</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-16.html">运动休闲</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-17.html">二手回收</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-18.html">物流维修</a></li>
                <li style=""><a href="http://www.cnhbw.net/qynews/list-19.html">商业服务</a></li>
            </ul>
        </dd>
    </dl>
</div>