#parse("head.html")
<script type="text/javascript" src="http://hyzx.100dh.cn/statics/js/jquery.lazyload"></script>
<style type="text/css">
    .swnlist-t {
        font-size: 18px;
    }

    .bdd2 {
        width: 798px;
        margin-top: 0px;
        border-left: 1px solid #ddecf8;
        border-right: 1px solid #ddecf8;
        padding: 5px 10px;
    }

    .swnlist {
        line-height: 180%;
        height: 130px;
        border-bottom: 1px dotted #F0F0F0;
    }

        .swnlist a {
            color: #333;
        }

    .px14 {
        font-size: 14px;
    }

    .f_gray {
        color: #666666;
    }

    .f_red {
        color: red;
    }

    .f_price {
        font-weight: bold;
        font-family: Arial;
        color: #FF0000;
    }

    .px11 {
        font-size: 11px;
    }

    .shadow {
        width: 360px;
        background: #F0F0F0;
        padding-bottom: 10px;
    }
</style>
<div class="swdh">
    当前位置：<a href="http://hyzx.100dh.cn/handler/TestHandler.ashx?action=mainpage">首页</a> >
    <a href="http://hyzx.100dh.cn/handler/TestHandler.ashx?action=MoreProduct">产品栏目</a> >
    <a href="http://hyzx.100dh.cn/handler/TestHandler.ashx?action=GetProduct&cId=$data.cId">$data.columnName</a> >
</div>
    #parse("navigation.html")
<div class="swnr">
    <div class="swnr-l main">
        <div class="result-list-top bdd1">
            <div class="result-list-tl">
                <h4 class="fl">$data.columnName</h4>
            </div>
        </div>
        #foreach($p in $data.productList)
        <div class="swnlist bdd2">
            <table>
                <tr align="center">
                    <td width="90">
                        <div>
                            <a href="$p.titleURL" target="_blank">
                                <img src="$p.titleImg" class="lazy" width="80" height="80" alt="$p.title" onerror="this.src='../statics/images/nopic.gif'">
                            </a>
                        </div>
                    </td>
                    <td width="10"></td>
                    <td align="left">
                        <ul>
                            <li>
                                <a href="$p.titleURL" target="_blank"><strong class="px14">$p.title</strong></a>
                            </li>
                            <li class="f_gray">$p.articlecontent</li>
                            <li><span class="fr px11">$p.addTime&nbsp;&nbsp;</span>[$p.city]&nbsp;&nbsp;&nbsp;<font color="red">$p.smallCount</font>&nbsp;起订</li>
                            <li>
                                #if($p.ten_qq)
                                <span class="fr f_gray">
                                    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=&gt;$p.ten_qq&amp;site=qq&amp;menu=yes" target="_blank" rel="nofollow">
                                        <img src="http://hyzx.100dh.cn/statics/images/qq.gif" title="点击QQ交谈/留言" alt="" align="absmiddle" original="http://hyzx.100dh.cn/statics/images/qq.gif">
                                    </a>&nbsp;
                                </span>
                                #else
                                #end
                                <a href="$p.com_web" target="_blank">
                                    #if(!$p.companyName)<!--如果公司名为空-->
                                    #else
                                    p.companyName
                                    #end
                                </a>&nbsp; <span class="f_gray"></span>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        #end
        <div id="InnerPage" style="border: 1px solid #ddecf8;border-top:none;padding: 5px 10px;">
            <div id="PagerBox">
                <div id="pages" class="text-c">
                    <a class="num">共$data.paraTotal条</a>
                    <!--第一页
                    <a href="handler/TestHandler.ashx?action=GetProduct&cId=$data.cId&pageIndex=1"></a>-->
                    #if($data.pageIndex>1)
                    #set($upPage=$data.pageIndex+(-1))
                    <a href="http://hyzx.100dh.cn/handler/TestHandler.ashx?action=GetProduct&cId=$data.cId&pageIndex=$upPage" class="previous"><b><i>上一页</i></b></a>
                    #end

                    #foreach($page in $data.pageData)
                    #if($page.Title==$data.pageIndex)
                    <a href="javascript:void(0)" class="cur"><b><i>$page.Title</i></b></a>
                    #else
                    <a href="$page.Href"><b><i>$page.Title</i></b></a>
                    #end
                    #end
                    #if($data.pageIndex<$data.pageCount) #set($nextPage=$data.pageIndex+1)
                    <a href="http://hyzx.100dh.cn/handler/TestHandler.ashx?action=GetProduct&cId=$data.cId&pageIndex=$nextPage" class="nextpage"><b><i>下一页</i></b></a>
                    #end
                    <!--最后一页
                    <a href="handler/TestHandler.ashx?action=GetProduct&cId=$data.cId&pageIndex=$data.pageCount"></a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="swnr-r">
        <div class="fixed">
            <div class="col-wrap">
                <h3>最新新闻</h3>
                <ul class="iconBox">
                    #foreach($n in $data.newsList)
                    <li><a href="$n.titleURL" title="$n.title" target="_blank">$n.title</a></li>
                    #end
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () { $("img").lazyload({ placeholder: "http://hyzx.100dh.cn/statics/images/nopic.gif", effect: "fadeIn" }); });
    $(document).ready(function (e) {
        t = $('.fixed').offset().top;
        mh = $('.main').height(); fh = $('.fixed').height();
        $(window).scroll(function (e) {
            s = $(document).scrollTop();
            if (s > t - 10) {
                $('.fixed').css('position', 'fixed'); $('.fixed').addClass('shadow');
                if (s + fh > mh) { $('.fixed').css('top', mh - s - fh + 'px'); }
                else { $('.fixed').css('top', '0px'); }
            }
            else { $('.fixed').removeClass('shadow'); $('.fixed').css('position', ''); }
        })
    });
</script>
#parse("foot.html")