<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandlers, URLRewriter"/>
  </configSections>
  <!--<RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/d(\d+)\.html</LookFor>
        <SendTo>~/TestHandler.ashx?action=list-$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/news.html</LookFor>
        <SendTo>~/TestHandler.ashx</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
    <system.web>
      <webServices>
        <protocols>
          <add name="HttpSoap"/>
          <add name="HttpPost"/>
          <add name="HttpGet"/>
          <add name="Documentation"/>
        </protocols>
      </webServices>
      
      <httpHandlers>
        <add verb="*" path="*/show-?*-?*.html" type="UrlRewriter" />
      </httpHandlers>

      <!--<httpHandlers>
        <add verb="*" path="*.ashx" type="URLRewriter.RewriterFactoryHandler,URLRewriter"/>
        <add verb="*" path="*.html" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
      </httpHandlers>-->
      <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"/>
    </system.web>
  
  <connectionStrings>
    <add name="connStr_fbkc" connectionString="Data Source=39.105.196.3;Initial Catalog=AutouSend;User ID=lhc;Password=123456"
  providerName="System.Data.SqlClient" />
    <add name="connStr_100dh_hyzx" connectionString="Data Source=39.105.196.3;Initial Catalog=100dh_hyzx;User ID=lhc;Password=123456"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
